    /* Reset */
    *{
        margin: 0px;
        padding: 0px;
    }
    body{
        font-family: Arial, Helvetica, sans-serif;
    }
        /* Navbar */
    .navbar{
        background-color: white;
        width: 100%;
        border-bottom: 2px solid gold;
    }
        /* Top Part */
    .navbar_top{
        display: flex;
        justify-content: space-between;
        padding: 10px 30px;
        align-items: center;
        background-color: white
    }
    .logo{
        font-size: 20px;
        font-weight: bold;
    }
    .highlight{
        color: gold;
    }
    .search-box{
       flex: 1;
       margin: 0px 30px;
       position: relative;
    }
    .search-box input{
        width: 90%;
        padding: 8px 40px 8px 15px;
        border-radius: 20px;
        border: 2px solid chocolate;
    }
    .user-options{
        display: flex;
        /* justify-content: space-between; */
        align-items: center;
        gap: 20px;
    }
    .user-options a {
        text-decoration: none;
        color: black;
        font-size: 14px;
        position: relative;
      }
      
      .cart-icon {
        position: absolute;
      }
      
      .cart-count {
        position: absolute;
        top: 23px;
        right: 10px;
        background: #C19B52;
        color: white;s
        border-radius: 50%;
        padding: 2px 6px;
        font-size: 10px;
      }
        /* Menu section */
    .navbar_bottom{
        background-color: black;

    }
    .menu{
        display: flex;
        padding: 10px 30px;
       

    }
    .menu li{
        position: relative;
    }
    .menu > li {
        margin-right: 30px;
      }
     .menu a {
        color: white;
        text-decoration: none;
        padding: 10px 5px;
        display: block;
        font-size: 14px;
    }
        /* Dropdown */
    .droopdown_menu{
        position: absolute;
        
    }
      